
@{
    ViewBag.Title = "Bot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="bot-store-container">
    <div class="row">
        <div class="frame-bots">
            <h3 class="mt-20 text-center" style="margin-top:80px">Bot mẫu</h3>
            <p class="text-center color-gray mb30">Khi clone sẽ đè lên kịch bản cũ (nếu có)</p>
            <div class="row list-bots">
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://i.imgur.com/PZSOGlC.png" />
                        <div class="bot-template-title">
                            Chatbot Viral
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://i.imgur.com/xhHDotU.jpg" />
                        <div class="text-center bot-template-title">
                            Chatbot Đặt Pizza
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://i.imgur.com/xpxQP3p.jpg" />
                        <div class="text-center bot-template-title">
                            Chatbot Nhà Hàng
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://i.imgur.com/MV4DPxc.jpg" />
                        <div class="text-center bot-template-title">
                            Chatbot Lead Generation
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://i.imgur.com/UkRIdLh.jpg" />
                        <div class="text-center bot-template-title">
                            Chatbot Spa
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://i.imgur.com/t2rBPhc.jpg" />
                        <div class="text-center bot-template-title">
                            Chatbot Hỗ Trợ Khách Hàng
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://i.imgur.com/NFuqRb0.png" />
                        <div class="text-center bot-template-title">
                            Chatbot Giới Thiệu Sản Phẩm
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://i.imgur.com/nG0A81D.jpg" />
                        <div class="text-center bot-template-title">
                            Chatbot Minigames
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://i.imgur.com/WQpr9b8.jpg" />
                        <div class="text-center bot-template-title">
                            Chatbot Tuyển Dụng
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://i.imgur.com/5q4oGBZ.jpg" />
                        <div class="text-center bot-template-title">
                            Chatbot Tư Vấn Bán Hàng
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="frame-bots">
            <h3 class="mt-20 text-center">Kịch Bản Mẫu</h3>
            <p class="text-center color-gray">Khi copy sẽ tạo thêm kịch bản mới </p>
            <div class="row list-bots">
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://storage.googleapis.com/ahachat/production/images/5f3d024cb7a736.61866158.jpg" />
                        <div class="text-center bot-template-title">
                            Coffee house, Tiệm cafe
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://storage.googleapis.com/ahachat/production/images/5f3d0224627c73.03468560.jpg" />
                        <div class="text-center bot-template-title">
                            Influencer, Người nổi tiếng
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://storage.googleapis.com/ahachat/production/images/5f3d01f9a6b958.44352192.jpg" />
                        <div class="text-center bot-template-title">
                            Hotel booking, Đặt phòng khách sạn
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://storage.googleapis.com/ahachat/production/images/5f3d01c4a0fea5.28710073.jpg" />
                        <div class="text-center bot-template-title">
                            Workshop, Chương trình nghệ thuật
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://storage.googleapis.com/ahachat/production/images/5f3d0176d48a35.00595628.jpg" />
                        <div class="text-center bot-template-title">
                            Hair salor, Tiệm làm tóc
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://storage.googleapis.com/ahachat/production/images/5f3d013cc19e04.25710420.jpg" />
                        <div class="text-center bot-template-title">
                            Laundry shop, Tiệm giặc ủi
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://storage.googleapis.com/ahachat/production/images/5f3d02f4629a19.39103318.jpg" />
                        <div class="text-center bot-template-title">
                            Realtor agency, Bất động sản
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://storage.googleapis.com/ahachat/production/images/5f3d037d4e22d4.04109217.jpg" />
                        <div class="text-center bot-template-title">
                            Bistro/Cabaret, Nhà hàng rượu
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://storage.googleapis.com/ahachat/production/images/5dc19d74ec52b7.99399673.png" />
                        <div class="text-center bot-template-title">
                            Viral chia sẻ nhận quà
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://storage.googleapis.com/ahachat/production/images/5f9c25ab232c93.33228086.jpg" />
                        <div class="text-center bot-template-title">
                            Viral vòng quay may mắn
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://storage.googleapis.com/ahachat/production/images/5f41ca06d37396.73619901.jpg" />
                        <div class="text-center bot-template-title">
                            Viral mã giảm giá, khuyến mãi
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://storage.googleapis.com/ahachat/production/images/5f41ca2385d556.32280615.jpg" />
                        <div class="text-center bot-template-title">
                            Viral quizz, đố vui trúng thưởng
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://storage.googleapis.com/ahachat/production/images/5f420795107338.52624000.jpg" />
                        <div class="text-center bot-template-title">
                            Bói sim phong thủy hợp tuổi
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://storage.googleapis.com/ahachat/production/images/5f42086208e3e9.23542963.jpg" />
                        <div class="text-center bot-template-title">
                            Shopping mua sắm đặt hàng
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://storage.googleapis.com/ahachat/production/images/5f4208aad33e27.19493904.jpg" />
                        <div class="text-center bot-template-title">
                            Đánh giá 5 sao cho page
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://storage.googleapis.com/ahachat/production/images/5f42098326f478.72449957.jpeg" />
                        <div class="text-center bot-template-title">
                            Triển khai và đo lường cộng tác viên
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://storage.googleapis.com/ahachat/production/images/5f420b34034a01.54730584.png" />
                        <div class="text-center bot-template-title">
                            Sử dụng Json API
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://storage.googleapis.com/ahachat/production/images/5f420c6b470073.55088808.png" />
                        <div class="text-center bot-template-title">
                            Sử dụng Web Form
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://storage.googleapis.com/ahachat/production/images/5f420d105107b6.76393035.png" />
                        <div class="text-center bot-template-title">
                            Sử dụng Vip Card
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://storage.googleapis.com/ahachat/production/images/5f3d04b022d1e0.92005316.jpg" />
                        <div class="text-center bot-template-title">
                            Charity organizations, Tổ chức từ thiện
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://storage.googleapis.com/ahachat/production/images/5f3d053bc78391.03412848.jpg" />
                        <div class="text-center bot-template-title">
                            Conference/Seminar, Hội nghị hội thảo
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://storage.googleapis.com/ahachat/production/images/5f3d0590c63115.18932203.jpg" />
                        <div class="text-center bot-template-title">
                            Photography service, Dịch vụ chụp ảnh
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://storage.googleapis.com/ahachat/production/images/5f3d0620541f23.98035364.jpg" />
                        <div class="text-center bot-template-title">
                            Digital books, Sách điện tử
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://storage.googleapis.com/ahachat/production/images/5f3d067e57b367.19336067.jpg" />
                        <div class="text-center bot-template-title">
                            Flower shop, Cửa hàng hoa
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://storage.googleapis.com/ahachat/production/images/5f3d0705d62a75.64863086.jpg" />
                        <div class="text-center bot-template-title">
                            Freelancer, Làm việc tự do
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://storage.googleapis.com/ahachat/production/images/5f3d07ff4960d4.81853121.jpg" />
                        <div class="text-center bot-template-title">
                            Bakeshop, Tiệm bánh ngọt
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://storage.googleapis.com/ahachat/production/images/5f3d0c466702a7.95997230.jpeg" />
                        <div class="text-center bot-template-title">
                            Events catering, Dịch vụ ăn uống tại sự kiện
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://storage.googleapis.com/ahachat/production/images/5f3d0ca63f5749.25111936.jpg" />
                        <div class="text-center bot-template-title">
                            Burger joint, Bánh mì kẹp thịt
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://storage.googleapis.com/ahachat/production/images/5f3d0d025e2f92.19299916.jpg" />
                        <div class="text-center bot-template-title">
                            Home business, Kinh doanh tại nhà
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://storage.googleapis.com/ahachat/production/images/5f3d0d661adaf9.70155671.jpg" />
                        <div class="text-center bot-template-title">
                            Souvenir shop, Cửa hàng lưu niệm
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://storage.googleapis.com/ahachat/production/images/5f3d0dd18a0d58.84315535.jpg" />
                        <div class="text-center bot-template-title">
                            Tea house, Tiệm trà
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 cursor-pointer">
                    <div class="bot-wrap">
                        <img style=" width:255px; height:200px" class="img-responsive" src="https://storage.googleapis.com/ahachat/production/images/5f3d0edf8b92a4.74474861.jpg" />
                        <div class="text-center bot-template-title">
                            Online tutor, Gia sư trực tuyến
                            <div class="text-center bot-template-btns">
                                <a href="" target="_blank" class="btn btn-messenger test-on-messenger_ga"></a>
                                <a class="btn btn-primary" style="padding: 7px 12px;" onclick="">Copy</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
