
@{
    ViewBag.Title = "Hdan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2 class="text-center" style="margin-top:80px">Video hướng dẫn cơ bản</h2>
<div class="box-list">
    <ul class="list-group">
        <li data-index="0" class="list-group-item">
            <i class="fa fa-play" aria-hidden="true"></i>
            <span>Bài 1: Giới thiệu khóa học xây dựng hệ thống bán hàng tự động qua Messenger</span>
            <div class="toggle-target">
                <div class="yt-player-preview">
                    <iframe width="1110" height="500" src="https://www.youtube.com/embed/vND3VrTy3Ls?enablejsapi=1&origin=https://ahachat.com"
                            frameborder="0">
                    </iframe>
                </div>
            </div>
        </li>
        <li data-index="1" class="list-group-item">
            <i class="fa fa-play"></i>
            <span>Bài 2: Đăng ký tài khoản</span>
            <div class="toggle-target">
                <div class="yt-player-preview">
                    <iframe width="1110" height="500" src="https://www.youtube.com/embed/TJ9tTxqmsRU?enablejsapi=1&origin=https://ahachat.com"
                            frameborder="0">
                    </iframe>
                </div>
            </div>
        </li>
        <li data-index="2" class="list-group-item">
            <i class="fa fa-play"></i>
            <span>Bài 3: Tạo Fanpage chuẩn SEO trên Facebook</span>
            <div class="toggle-target">
                <div class="yt-player-preview">
                    <iframe width="1110" height="500" src="https://www.youtube.com/embed/qfYxTT3oeZE?enablejsapi=1&origin=https://ahachat.com"
                            frameborder="0">
                    </iframe>
                </div>
            </div>
        </li>
        <li data-index="3" class="list-group-item">
            <i class="fa fa-play"></i>
            <span>Bài 4: Kết nối Fanpage và chatbot</span>
            <div class="toggle-target">
                <div class="yt-player-preview">
                    <iframe width="1110" height="500" src="https://www.youtube.com/embed/9gLZKLQLDLA?enablejsapi=1&origin=https://ahachat.com"
                            frameborder="0">
                    </iframe>
                </div>
            </div>
        </li>
        <li data-index="4" class="list-group-item">
            <i class="fa fa-play"></i>
            <span>Bài 5: Hướng dẫn tạo kịch bản tự động qua Mesenger </span>
            <div class="toggle-target">
                <div class="yt-player-preview">
                    <iframe width="1110" height="500" src="https://www.youtube.com/embed/a8GINCvH--U?enablejsapi=1&origin=https://ahachat.com"
                            frameborder="0">
                    </iframe>
                </div>
            </div>
        </li>
        <li data-index="5" class="list-group-item">
            <i class="fa fa-play"></i>
            <span>Bài 6: Quản trị thông tin khách hàng và phân loại khách hàng bằng Chatbot</span>
            <div class="toggle-target">
                <div class="yt-player-preview">
                    <iframe width="1110" height="500" src="https://www.youtube.com/embed/3civouQNUr4?enablejsapi=1&origin=https://ahachat.com"
                            frameborder="0">
                    </iframe>
                </div>
            </div>
        </li>
        <li data-index="6" class="list-group-item">
            <i class="fa fa-play"></i>
            <span>Bài 7: LiveChat - Thông tin trực tiếp đến khách hàng</span>
            <div class="toggle-target">
                <div class="yt-player-preview">
                    <iframe width="1110" height="500" src="https://www.youtube.com/embed/xtSubBCu6k8?enablejsapi=1&origin=https://ahachat.com"
                            frameborder="0">
                    </iframe>
                </div>
            </div>
        </li>
        <li data-index="7" class="list-group-item">
            <i class="fa fa-play"></i>
            <span>Bài 8: Gửi Broadcast</span>
            <div class="toggle-target">
                <div class="yt-player-preview">
                    <iframe width="1110" height="500" src="https://www.youtube.com/embed/umZiI0cw16g?enablejsapi=1&origin=https://ahachat.com"
                            frameborder="0">
                    </iframe>
                </div>
            </div>
        </li>
        <li data-index="8" class="list-group-item">
            <i class="fa fa-play"></i>
            <span>Bài 9: Tính Năng chăm sóc </span>
            <div class="toggle-target">
                <div class="yt-player-preview">
                    <iframe width="1110" height="500" src="https://www.youtube.com/embed/TlckxN7hoU8?enablejsapi=1&origin=https://ahachat.com"
                            frameborder="0">
                    </iframe>
                </div>
            </div>
        </li>
        <li data-index="9" class="list-group-item">
            <i class="fa fa-play"></i>
            <span>Bài 10: Auto inbox - Tự động Reply bình luận của khách và tự động inbox khách hàng</span>
            <div class="toggle-target">
                <div class="yt-player-preview">
                    <iframe width="1110" height="500" src="https://www.youtube.com/embed/K-IcSUn-nVk?enablejsapi=1&origin=https://ahachat.com"
                            frameborder="0">
                    </iframe>
                </div>
            </div>
        </li>
    </ul>
</div>
<h2 class="text-center">Video Hướng Dẫn Nâng Cao </h2>
<div class="box-list">
    <ul class="list-group">
        <li data-index="0" class="list-group-item">
            <i class="fa fa-play"></i>
            <span>Hướng dẫn gửi Broadcast sau 24 giờ ( dùng thẻ tin nhắn )</span>
            <div class="toggle-target">
                <div class="yt-player-preview">
                    <iframe width="1110" height="500" src="https://www.youtube.com/embed/eowePOd13pM?enablejsapi=1&origin=https://ahachat.com"></iframe>
                </div>
                <p>
                    Tài liệu hướng dẫn: https://link.medium.com/7xHzH7Jlh5
                    <br />Sau ngày 4 tháng 3 Facebook sẽ cung cấp 3 thẻ tin nhắn mới có thể giúp bạn tiếp cận đối tượng của mình bên ngoài cửa sổ 24 giờ miễn phí có tên gọi lần lượt là CONFIRMED_EVENT_UPDATE, POST_PURCHASE_UPDATE và ACCOUNT_UPDATE.
                    <br />Nó hơi khác với các bạn gửi Broadcast hàng loạt trước đây.
                    <br />1. Bạn phải gửi đúng trường hợp cụ thể (hướng dẫn bên dưới)
                    <br />2. Bạn không được gửi tin nhắn chứa nội dung quảng cáo
                </p>
            </div>
        </li>
        <li data-index="1" class="list-group-item">
            <i class="fa fa-play"></i>
            <span>Hướng dẫn gửi Broadcast Chatbot Facebook bằng tin nhắn OTN</span>
            <div class="toggle-target">
                <div class="yt-player-preview">
                    <iframe width="1110" height="500" src="https://www.youtube.com/embed/U9674ko8m_U?enablejsapi=1&origin=https://ahachat.com"></iframe>
                </div>
                <p>
                    Sau ngày 4 tháng 3 Facebook sẽ cung cấp một loại tin nhắn mới có thể giúp bạn tiếp cận đối tượng của mình bên ngoài cửa sổ 24 giờ miễn phí có tên gọi là One-Time Notification.
                    <br />Nó hơi khác so với các tin nhắn miễn phí khác mà bạn có thể gửi qua thẻ.
                    <br />1. Bạn có thể sử dụng nó cho mục đích quảng cáo.
                    <br />2. Người dùng phải bấm vào nút Notify Me trước để nhận thông báo.
                    <br />3. Chỉ được gửi 1 tin nhắn đến người dùng nhận thông báo (kèm theo nút bấm).
                    <br />Vì vậy, hãy xem video này để hiểu khi nào và làm thế nào bạn có thể sử dụng One-Time Notification trong Chathub.
                </p>
            </div>
        </li>
        <li data-index="2" class="list-group-item">
            <i class="fa fa-play"></i>
            <span>Hướng dẫn lưu thông tin từ ChatHub sang Google Sheet</span>
            <div class="toggle-target">
                <div class="yt-player-preview">
                    <iframe width="1110" height="500" src="https://www.youtube.com/embed/WUVC9DnxPxc?enablejsapi=1&origin=https://ahachat.com"></iframe>
                </div>
                <p>
                    Google sheet là một CMS cực kỳ mạnh để quản lý thông tin khách hàng, đơn hàng. Thông thường nếu muốn lưu hoặc lấy dữ liệu từ sheet vào chatbot sẽ phải dùng bên thứ 3 như zapier hoặc ifttt. Cả hai cách này hoặc là tốn nhiều chi phí, hoặc là giới hạn dữ liệu. Cho nên chúng tôi đã phát triển ChatHub để thực hiện công việc này một cách rất đơn giản và hoàn toàn miễn phí.
                </p>
            </div>
        </li>
        <li data-index="3" class="list-group-item">
            <i class="fa fa-play"></i>
            <span>Mẹo gọi kịch bản Bot từ Inbox Của Page</span>
            <div class="toggle-target">
                <div class="yt-player-preview">
                    <iframe width="1110" height="500" src="https://www.youtube.com/embed/PZ_xAXD0wR8?enablejsapi=1&origin=https://ahachat.com"></iframe>
                </div>
                <p>
                    Bạn muốn nhân viên của mình gọi kịch bản bot từ trong Inbox của Page hoặc các phần mềm quản lý page như Pancake, Nhanh thì có thể cài đặt từ khoá cho kịch bản cần gọi trước. Sau đó, nếu nhân viên chat trùng với từ khoá này thì kịch bản tương ứng sẽ được gọi ra.
                </p>
            </div>
        </li>
        <li data-index="4" class="list-group-item">
            <i class="fa fa-play"></i>
            <span>Sử dụng WebForm trong ChatHub</span>
            <div class="toggle-target">
                <div class="yt-player-preview">
                    <iframe width="1110" height="500" src="https://www.youtube.com/embed/QDZDegqoQY8?enablejsapi=1&origin=https://ahachat.com"></iframe>
                </div>
                <p>
                    Web Form là biểu mẫu thu thập thông tin người dùng trong Messenger, lợi ích của nó là giúp KH đăng ký thông tin nhanh chóng, và có thể xác nhận số điện thoại thông qua sms để tránh spam đơn hàng.
                </p>
            </div>
        </li>
        <li data-index="5" class="list-group-item">
            <i class="fa fa-play"></i>
            <span>Sử dụng VipCard trong ChatHub</span>
            <div class="toggle-target">
                <div class="yt-player-preview">
                    <iframe width="1110" height="500" src="https://www.youtube.com/embed/speolk0Wi5o?enablejsapi=1&origin=https://ahachat.com"></iframe>
                </div>
                <p>
                    Vip Card là thẻ thành viên hay thẻ giảm giá dùng trong Messenger, lợi ích của nó là giúp thương hiệu của bạn gây ấn tượng với khách hàng bằng thẻ thành viên, thẻ chúc mừng chuyên nghiệp.
                    <br />Tưởng tượng như bạn mở một khóa học, và muốn tặng một số thành viên có tầm ảnh hưởng với cộng đồng một số thẻ vip, ưu tiên ngồi hàng ghế đầu thì rất tuyệt phải không nào?
                </p>
            </div>
        </li>
        <li data-index="6" class="list-group-item">
            <i class="fa fa-play"></i>
            <span>Hướng dẫn tạo Ref Link trong ChatHub</span>
            <div class="toggle-target">
                <div class="yt-player-preview">
                    <iframe width="1110" height="500" src="https://www.youtube.com/embed/QzKJEz_cKik?enablejsapi=1&origin=https://ahachat.com"></iframe>
                </div>
                <p>
                    Tạo link quà tặng chia sẻ blog, email hay mạng xã hội. Nếu người dùng click vào “Link” thì kịch bản sẽ khởi chạy trên Messenger đồng thời người dùng sẽ thành khách hàng đăng ký bot.
                </p>
            </div>
        </li>
        <li data-index="7" class="list-group-item">
            <i class="fa fa-play"></i>
            <span>Tạo Facebook Ads JSON để quảng cáo Facebook</span>
            <div class="toggle-target">
                <div class="yt-player-preview">
                    <iframe width="1110" height="500" src="https://www.youtube.com/embed/X-qPQNRWxB8?enablejsapi=1&origin=https://ahachat.com"></iframe>
                </div>
                <p>
                    Với quảng cáo mặc định của Facebook thì sau khi người dùng nhấp vào "Gửi tin nhắn" sẽ nhận được các mẫu tin văn bản đơn giản thiết lập sẵn, và sau đó đợi phản hồi từ nhân viên chat.
                    <br />Trong khi công cụ Facebook Ads JSON lại hỗ trợ Bạn tạo tin nhắn opt-in ( với nhiều lựa chọn tùy biến tin nhắn) đến với những người nhấp vào quảng cáo của Bạn.
                    <br />Cụ thể, khi người dùng click vào "Gửi tin nhắn" sẽ ngay lập tức nhận được luồng tin nhắn bạn sẽ thiết lập sẵn từ trước thông qua ChatHub với nhiều tùy biến tin nhắn như nút bấm, hình ảnh, bộ sưu tập,..vv.v
                </p>
            </div>
        </li>
        <li data-index="8" class="list-group-item">
            <i class="fa fa-play"></i>
            <span>Hướng dẫn sử dụng Trigger trong ChatHub</span>
            <div class="toggle-target">
                <div class="yt-player-preview">
                    <iframe width="1110" height="500" src="https://www.youtube.com/embed/G3xmP7OKXX8?enablejsapi=1&origin=https://ahachat.com"></iframe>
                </div>
                <p>
                    Nếu ai đã dùng email marketing thì sẽ hiểu Trigger trong ChatHub cũng tương tự như vậy. Nghĩa là khi một nhóm khách hàng nào đó thỏa mãn những điều kiện nào đó thì có thể gửi chăm sóc tự động đến nhóm khách hàng này.
                </p>
            </div>
        </li>
        <li data-index="9" class="list-group-item">
            <i class="fa fa-play"></i>
            <span>Hướng dẫn nhúng Chatbot vào Website</span>
            <div class="toggle-target">
                <div class="yt-player-preview">
                    <iframe width="1110" height="500" src="https://www.youtube.com/embed/bUpNh92aadU?enablejsapi=1&origin=https://ahachat.com"></iframe>
                </div>
                <p>
                    Hướng dẫn: Nhúng chatbot vào web
                    <br />Bước 1: Vào menu Cài đặt, thêm website vào ô tên miền
                    <br />Bước 2: Tạo công cụ Customer Chat từ menu Tăng trưởng
                    <br />Bước 3: Lấy code để nhúng vào website hoặc wordpress
                    <br />Bước 4: Vào website hoặc wordpress, mở file php hoặc html để chèn code vào (ở wordpress thì tìm file footer.php để sửa)
                    <br />Bước 5: Lưu lại và xem kết quả.
                </p>
            </div>
        </li>
        <li data-index="10" class="list-group-item">
            <i class="fa fa-play"></i>
            <span>Hướng dẫn rút gọn link bằng Chatbot</span>
            <div class="toggle-target">
                <div class="yt-player-preview">
                    <iframe width="1110" height="500" src="https://www.youtube.com/embed/_BhB8YhAy9c?enablejsapi=1&origin=https://ahachat.com"></iframe>
                </div>
                <p>
                    Áp dụng trong kịch bản viral hoặc kịch bản affiliate.
                    <br />Link dán vào api: https://cutt.ly/api/api.php?key=[API_KEY]&short=[URL_YOU_WANT_SHORTEN]
                    <br />
                    <br />Url rút gọn: {{api.tên block.url.shortLink}}
                    <br />Hướng dẫn chi tiết:
                    <a href="https://link.medium.com/9JAbDeGSx7" target="_blank">https://link.medium.com/9JAbDeGSx7</a>
                </p>
            </div>
        </li>
        <li data-index="11" class="list-group-item">
            <i class="fa fa-play"></i>
            <span>Tặng kịch bản Viral tạo mã giảm giá</span>
            <div class="toggle-target">
                <div class="yt-player-preview">
                    <iframe width="1110" height="500" src="https://www.youtube.com/embed/JKCflSsSPsI?enablejsapi=1&origin=https://ahachat.com"></iframe>
                </div>
                <p>
                    Tạo mã giảm giá (hay gọi ngắn gọn là coupon) là một cách thức để thu hút khách hàng tiềm năng cho doanh nghiệp của bạn rất hiệu quả. Và đặc biệt nếu kết hợp với chatbot viral thì sẽ tạo ra một sự bùng nổ khách hàng cực tốt. Ví như sau khi A nhận được coupon thì sẽ xuất hiện hộp thoại để A chia sẻ cho B cũng nhận được giống như A. Hoặc A muốn nhận coupon thì phải chia sẻ cho B trước...
                </p>
            </div>
        </li>
        <li data-index="12" class="list-group-item">
            <i class="fa fa-play"></i>
            <span>Tặng kịch bản vòng quay may mắn (Lucky Spin)</span>
            <div class="toggle-target">
                <div class="yt-player-preview">
                    <iframe width="1110" height="500" src="https://www.youtube.com/embed/ZFlBWnNJHe4?enablejsapi=1&origin=https://ahachat.com"></iframe>
                </div>
                <p>
                    Tạo vòng quay may mắn (tên tiếng anh là Lucky Spin) là một cách thức để thu hút khách hàng tiềm năng cho doanh nghiệp của bạn rất hiệu quả. Và đặc biệt nếu kết hợp với chatbot viral thì sẽ tạo ra một sự bùng nổ khách hàng cực tốt. Ví như sau khi A hết lượt quay thì sẽ xuất hiện hộp thoại để A chia sẻ cho B để cùng tham gia trò chơi quay nhận quà. Hoặc A muốn quay nhận quà thì phải chia sẻ cho B trước…
                </p>
            </div>
        </li>
        <li data-index="13" class="list-group-item">
            <i class="fa fa-play"></i>
            <span>Tặng kịch bản Viral đếm Tag và Comment</span>
            <div class="toggle-target">
                <div class="yt-player-preview">
                    <iframe width="1110" height="500" src="https://www.youtube.com/embed/Q7JHQJDMMTM?enablejsapi=1&origin=https://ahachat.com"></iframe>
                </div>
                <p>
                    Một hình thức viral mới vô cùng hiệu quả để tăng tương tác cho page là khuyến khích khách hàng tag bạn bè và comment vào bài post, với những người tag nhiều bạn bè nhất sẽ được nhận những món quà miễn phí.
                </p>
            </div>
        </li>
        <li data-index="14" class="list-group-item">
            <i class="fa fa-play"></i>
            <span>Tặng kịch bản ChatBot cho nhà hàng</span>
            <div class="toggle-target">
                <div class="yt-player-preview">
                    <iframe width="1110" height="500" src="https://www.youtube.com/embed/gOB1fRM_7gI?enablejsapi=1&origin=https://ahachat.com"></iframe>
                </div>
                <p>
                    Có thể nói công nghệ chatbot đang có một tốc độ phát triển rất nhanh trong lĩnh vực kinh doanh trực tuyến. Đừng để mất doanh thu bán hàng vào tay các eSellers khác, những người có khả năng phục vụ hiệu quả mọi khách hàng vào bất cứ lúc nào, và với một mức độ cá nhân hóa cao độ.
                    <br />Trong video này chúng tôi sẽ lần lượt tạo các kịch bản mẫu cho tất cả các ngành hàng để giúp bạn vượt qua đối thủ của mình trong việc tiếp cận khách hàng tiềm năng với chi phi 0đ.
                </p>
            </div>
        </li>
        <li data-index="15" class="list-group-item">
            <i class="fa fa-play"></i>
            <span>Tặng kịch bản Chatbot cho phòng Gym, thể dục</span>
            <div class="toggle-target">
                <div class="yt-player-preview">
                    <iframe width="1110" height="500" src="https://www.youtube.com/embed/ktqFaGd6-Qs?enablejsapi=1&origin=https://ahachat.com"></iframe>
                </div>
                <p>
                    Lời chào theo thời gian có nói tới trong video⏱
                    <br />Cách để gọi:
                    <br />{{NOW()}}: 17/07/2019 10:00:12
                    <br />{{TODAY()}}: 17/07/2019
                    <br />{{WEEKDAY()}}: Thứ Hai, ..., Chủ Nhật
                    <br />{{YEAR()}}: 2019
                    <br />{{MONTH()}}: 1, 2, ..., 12
                    <br />{{HOUR()}}: 10:00 SA, 02:00 CH
                    <br />{{DAYTIME()}}: buổi sáng, buổi trưa, buổi chiều, buổi tối
                </p>
            </div>
        </li>
        <li data-index="16" class="list-group-item">
            <i class="fa fa-play"></i>
            <span>Tặng kịch bản tích điểm nhận quà</span>
            <div class="toggle-target">
                <div class="yt-player-preview">
                    <iframe width="1110" height="500" src="https://www.youtube.com/embed/hByyKfWcNcQ?enablejsapi=1&origin=https://ahachat.com"></iframe>
                </div>
                <p>
                    Đây là kịch bản phù hợp với mô hình kinh doanh theo địa điểm: bạn có 1 shop, và tích điểm dành cho những khách hàng đã mua hàng.
                    <br />Khách hàng sẽ quét mã QR, nhân viên hoặc chủ shop sẽ nhập thông tin của khách hàng, đơn hàng, số bill để tích điểm.
                    <br />Và khách hàng sử dụng mã tích điểm trong những lần sau.
                </p>
            </div>
        </li>
        <li data-index="17" class="list-group-item">
            <i class="fa fa-play"></i>
            <span>Tặng kịch bản tặng lịch hẹn bằng Chatbot</span>
            <div class="toggle-target">
                <div class="yt-player-preview">
                    <iframe width="1110" height="500" src="https://www.youtube.com/embed/KXGLmpjEFQM?enablejsapi=1&origin=https://ahachat.com"></iframe>
                </div>
                <p>
                    Lên lịch một cuộc họp, cuộc hẹn hoặc gọi điện thoại từ bên trong bot của bạn. Rất dễ dàng, hoàn toàn miễn phí và tự động. Phù hợp cho các lĩnh vực tư vấn, chăm sóc 📷
                </p>
            </div>
        </li>
        <li data-index="18" class="list-group-item">
            <i class="fa fa-play"></i>
            <span>Tặng kịch bản Chatbot cộng tác viên(affiliate)</span>
            <div class="toggle-target">
                <div class="yt-player-preview">
                    <iframe width="1110" height="500" src="https://www.youtube.com/embed/pB1i5O75Jhc?enablejsapi=1&origin=https://ahachat.com"></iframe>
                </div>
                <p>
                    Tiếp tục series chatbot viral trên ChatHub , mình sẽ giới thiệu đến các bạn một hình thức viral mới thông qua cộng tác viên. Thay vì các shop phải tốn tiền chạy quảng cáo, marketing, thì shop có thể sử dụng ngân sách này để chiết khấu cho cộng tác viên cho mỗi đơn hàng bán được. Yếu tố thành công của hình thức viral này là tính minh bạch và tức thời, tức là bất cứ khi nào khách mua hàng từ chia sẻ của cộng tác viên thì cộng tác viên đó sẽ nhận được thông báo mua hàng ngay lập tức và được cộng ngay vào chiết khấu.
                </p>
            </div>
        </li>
        <li data-index="19" class="list-group-item">
            <i class="fa fa-play"></i>
            <span>Tặng kịch bản hỗ trợ bán hàng Shoppee, Lazada, Tiki</span>
            <div class="toggle-target">
                <div class="yt-player-preview">
                    <iframe width="1110" height="500" src="https://www.youtube.com/embed/hvMZ1t2JsYU?enablejsapi=1&origin=https://ahachat.com"></iframe>
                </div>
                <p>
                    Giải pháp là tạo ra 1 chatbot hoàn toàn tự động để chăm sóc khách hàng trên các sàn thương mại điện tử.
                    <br />
                    <br />Cách thức mình đã làm, đó là đối với tất cả những khách mua hàng từ sàn của mình, mình sẽ gửi kèm 1 mã QR được tạo trong chatbot.
                    <br />Khách hàng quét mã để nhận quà tặng đồng thời đi vào hệ thống chăm sóc sở hữu của mình. Mình có thể điều hướng khách hàng theo mong muốn của mình.
                </p>
            </div>
        </li>
        <li data-index="20" class="list-group-item">
            <i class="fa fa-play"></i>
            <span>Tặng kịch bản minigame đuổi hình bắt chữ</span>
            <div class="toggle-target">
                <div class="yt-player-preview">
                    <iframe width="1110" height="500" src="https://www.youtube.com/embed/RgU6Uj6cqrg?enablejsapi=1&origin=https://ahachat.com"></iframe>
                </div>
                <p>
                    Bước 1: Copy kịch bản vào page muốn chạy
                    <br />Bước 2: Vào phần chào mừng, thêm điều kiện ref chứa game1 và chuyển tiếp tới kịch bản vừa copy
                    <br />Bước 3: Sửa nội dung trong bot cho phù hợp với chiến dịch.
                </p>
            </div>
        </li>
        <li data-index="21" class="list-group-item">
            <i class="fa fa-play"></i>
            <span>Tặng kịch bản cho vay tài chính</span>
            <div class="toggle-target">
                <div class="yt-player-preview">
                    <iframe width="1110" height="500" src="https://www.youtube.com/embed/Qojx546Dy70?enablejsapi=1&origin=https://ahachat.com"></iframe>
                </div>
                <p>
                    Bạn có thể sửa sản phẩm cho phù hợp với các sản phẩm bạn đang kinh doanh. Kịch bản này sẽ giúp bạn thu thập những thông tin cơ bản của người dùng nhắm đánh giá khả năng vay vốn.
                </p>
            </div>
        </li>
    </ul>
</div>




