
@{
    ViewBag.Title = "Prices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-top:80px">Prices</h2>


<h2>Prices</h2>
<section id="prices-section" class="page">

    <!-- Begin page header-->
    <!--<div class="page-header-wrapper">
        <div class="container">
            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                <h2>Prices</h2>
                <div class="devider"></div>
                <p class="subtitle">That how much</p>
            </div>
        </div>
    </div>-->
    <!-- End page header-->
    <!--<div class="extra-space-l"></div>-->
    <!-- Begin prices -->
    <!--<div class="prices">
        <div class="container">
            <div class="row">

                <div class="price-box col-sm-6 col-md-3 wow flipInY" data-wow-delay="0.3s">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <i class="fa fa-plug fa-2x"></i>
                            <h3>Basic</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p class="lead"><strong>$49</strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item">Personal Use</li>
                            <li class="list-group-item">3 projects</li>
                            <li class="list-group-item">1 GB Disk</li>
                            <li class="list-group-item">Custom Domain</li>
                            <li class="list-group-item">24/7 Support</li>
                        </ul>
                        <div class="panel-footer text-center">
                            <a class="btn btn-default" href="#">Order Now!</a>
                        </div>
                    </div>
                </div>

                <div class="price-box col-sm-6 col-md-3 wow flipInY" data-wow-delay="0.5s">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <i class="fa fa-cog fa-2x"></i>
                            <h3>Advanced</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p class="lead"><strong>$99</strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item">Personal Use</li>
                            <li class="list-group-item">5 projects</li>
                            <li class="list-group-item">5 GB Disk</li>
                            <li class="list-group-item">Custom Domain</li>
                            <li class="list-group-item">24/7 Support</li>
                        </ul>
                        <div class="panel-footer text-center">
                            <a class="btn btn-default" href="#">Order Now!</a>
                        </div>
                    </div>
                </div>

                <div class="price-box col-sm-6 price-box-featured col-md-3 wow flipInY" data-wow-delay="0.7s">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <i class="fa fa-star fa-2x"></i>
                            <h3>Professional</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p class="lead"><strong>$149</strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item">Personal Use</li>
                            <li class="list-group-item">20 Projects</li>
                            <li class="list-group-item">20 GB Disk</li>
                            <li class="list-group-item">Custom Domain</li>
                            <li class="list-group-item">24/7 Support</li>
                        </ul>
                        <div class="panel-footer text-center">
                            <a class="btn btn-default" href="#">Order Now!</a>
                        </div>
                        <div class="price-box-ribbon"><strong>Popular</strong></div>
                    </div>
                </div>

                <div class="price-box col-sm-6 col-md-3 wow flipInY" data-wow-delay="0.9s">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <i class="fa fa-plus fa-2x"></i>
                            <h3>Ultimate</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p class="lead"><strong>$199</strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item">Multi Use</li>
                            <li class="list-group-item">Unlimited Projects</li>
                            <li class="list-group-item">99 GB Disk</li>
                            <li class="list-group-item">Custom Domain</li>
                            <li class="list-group-item">24/7 Support</li>
                        </ul>
                        <div class="panel-footer text-center">
                            <a class="btn btn-default" href="#">Order Now!</a>
                        </div>
                    </div>
                </div>

            </div>-->
    <!-- /.row -->
    <!--</div>--> <!-- /.container -->
    <!--</div>-->
    <!-- End prices -->
    @*<div class="extra-space-l"></div>*@

    <h1 class="text-center" style="font-size: 38px">
        <p>Nhận ưu đãi độc quyền trọn đời của chúng tôi?</p>
    </h1>
    <h4 class="text-center color-gray">
        Thay vì định giá hàng tháng, chúng tôi cung cấp ưu đãi trả một lần dùng trọn đời chỉ trong tháng 10.
    </h4>
    <div class="section pricing-detail-component">
        <div class="table-wrapper">
            <div class="bill-type text-center">
                <ul role="tablist" class="nav nav-tabs no-border">
                    <li role="presentation" class="cursor-pointer active">
                        <a data-toggle="tab" style="font-size: 16px; font-weight: 700;" aria-expanded="true">
                            <span>Hàng tháng </span>
                        </a>
                    </li>
                    <li role="presentation" class="cursor-pointer">
                        <a data-toggle="tab" class="pull-left" style="font-size: 16px; font-weight: 700;">
                            <span>Vĩnh viễn </span>
                        </a>
                        <span class="bill-arrow"></span>
                        <label class="badge badge-orange">87% OFF </label>
                    </li>
                </ul>
            </div>
            <div class="table-responsive" style="margin:auto;">
                <div>
                    <table class="pricing-table table-sub-vn">
                        <tbody>
                            <tr id="monthlypricedetails" style="display: table-row;">
                                <td style="min-width:180px;"></td>
                                <td style="vertical-align: top; min-width: 180px; width:180px;">
                                    <h5 class="bold">
                                        Pro 1 Tháng
                                    </h5>
                                    <h1>700,000</h1>
                                    <div>
                                        <a href="" target="_blank" class="btn btn-primary btn-flat btn-upgrade mb20 mt10">Nâng cấp</a>
                                    </div>
                                </td>
                                <td style="vertical-align: top; min-width: 200px; width:200px;">
                                    <h5 class="bold">
                                        Pro 3 Tháng
                                    </h5>
                                    <h1>1,500,000</h1>
                                    <div>
                                        <a href="" target="_blank" class="btn btn-primary btn-flat btn-upgrade mb20 mt10">Nâng cấp</a>
                                    </div>
                                </td>
                                <td data-lable="KÈM QUÀ TẶNG" style="min-width: 230px; width:230px;">
                                    <h5 class="bold">
                                        Pro 1 năm
                                    </h5>
                                    <h1>4,500,000</h1>
                                    <div>
                                        <a href="" target="_blank" class="btn btn-primary btn-flat btn-upgrade mb20 mt10">Nâng cấp</a>
                                    </div>
                                </td>
                                <td style="width: 200px;">
                                    <h5 class="bold">
                                        Doanh nghiệp
                                    </h5>
                                    <h1>24,000,000</h1>
                                    <div>
                                        <a href="" target="_blank" class="btn btn-primary btn-flat btn-upgrade mb20 mt10">Nâng cấp</a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="bold">
                                <td>
                                    <span>
                                        Facebook Pages
                                        <div aria-lable="Số page/bot có thểb tạo bằng một tài khoản " class="hint--right">
                                            <i class="info ion-ios-information"></i>
                                        </div>
                                    </span>
                                </td>
                                <td>Unlimited</td>
                                <td>Unlimited</td>
                                <td>Unlimited</td>
                                <td>Unlimited</td>
                            </tr>
                            <tr class="bold">
                                <td>
                                    <span>
                                        Quản trị Bot
                                        <div aria-lable="Mời các quản trị viên vào bot " class="hint--right">
                                            <i class="info ion-ios-information"></i>
                                        </div>
                                    </span>
                                </td>
                                <td>Unlimited</td>
                                <td>Unlimited</td>
                                <td>Unlimited</td>
                                <td>Unlimited</td>
                            </tr>
                            <tr class="bold">
                                <td>
                                    <span>
                                        Tin nhắn Bot
                                        <div aria-lable="Tin nhắn được gửi đi từ Broadcast, chăm sóc,Tăng trưởng mỗi tháng.Còn tin nhắn trả lời tự động thì không bị tính" class="hint--right">
                                            <i class="info ion-ios-information"></i>
                                        </div>
                                    </span>
                                </td>
                                <td>100,000</td>
                                <td>100,000</td>
                                <td>100,000</td>
                                <td>1,000,000</td>
                            </tr>
                            <tr class="bold">
                                <td>
                                    <span>
                                        Khách hàng
                                        <div aria-lable="Người dùng đã nhắn tin cho page hoặc bấm vào công cụ tăng trưởng" class="hint--right">
                                            <i class="info ion-ios-information"></i>
                                        </div>
                                    </span>
                                </td>
                                <td>Unlimited</td>
                                <td>Unlimited</td>
                                <td>Unlimited</td>
                                <td>Unlimited</td>
                            </tr>
                            <tr>
                                <td>
                                    Công cụ tăng trưởng
                                    <div aria-label="Tạo các công cụ tăng trưởng để thu hút khách hàng tiềm năng đăng ký Bot" class="hint--right">
                                        <i class="info ion-ios-information"></i>
                                    </div>
                                </td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                            </tr>
                            <tr>
                                <td>
                                    Phân loại khách hàng
                                    <div aria-label="Gắn thẻ và thuộc tính để phân loại khách hàng" class="hint--right">
                                        <i class="info ion-ios-information"></i>
                                    </div>
                                </td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                            </tr>
                            <tr>
                                <td>
                                    Gửi chăm sóc
                                    <div aria-label="Tự động gửi tin nhắn chăm sóc khách hàng theo thời gian cài đặt sẵn " class="hint--right">
                                        <i class="info ion-ios-information"></i>
                                    </div>
                                </td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                            </tr>
                            <tr>
                                <td>
                                    Copy Viral mẫu
                                    <div aria-label="Xây dựng bot nhanh chóng bằng cách copy mẫu có sẵn" class="hint--right">
                                        <i class="info ion-ios-information"></i>
                                    </div>
                                </td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                            </tr>
                            <tr>
                                <td>
                                    Kéo thả tạo kịch bản
                                    <div aria-label="Tạo kịch bản trả lời tự động bằng bản đồ mindmap kéo thả" class="hint--right">
                                        <i class="info ion-ios-information"></i>
                                    </div>
                                </td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                            </tr>
                            <tr>
                                <td>
                                    Thống kê & đo lường
                                    <div aria-label="Cho phép theo dõi và hoạt động tăng trưởng của khách hàng" class="hint--right">
                                        <i class="info ion-ios-information"></i>
                                    </div>
                                </td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                            </tr>
                            <tr>
                                <td>
                                    Trả lời tự động
                                    <div aria-label="Cài đặt từ khóa trả lời tự động cho khách hàng" class="hint--right">
                                        <i class="info ion-ios-information"></i>
                                    </div>
                                </td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                            </tr>
                            <tr>
                                <td>
                                    Live chat
                                    <div aria-label="Hỗ trợ livechat để nhân viên có thể tư vấn song song với bot" class="hint--right">
                                        <i class="info ion-ios-information"></i>
                                    </div>
                                </td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                            </tr>
                            <tr>
                                <td>
                                    Gửi Broadcast
                                    <div aria-label="Gửi tin nhắn marketing đến tất cả khách hàng cùng một lúc-tương tự như email" class="hint--right">
                                        <i class="info ion-ios-information"></i>
                                    </div>
                                </td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                            </tr>
                            <tr>
                                <td>
                                    Web form & Vip card
                                    <div aria-label="Tạo form đẹp để thu hút khách hàng điền thông tin,ví dụ nhận quà, đặt hàng" class="hint--right">
                                        <i class="info ion-ios-information"></i>
                                    </div>
                                </td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                            </tr>
                            <tr>
                                <td>
                                    Theo dõi tương tác
                                    <div aria-label="Theo dõi số lượng khách hàng tương tác với từng block trong kịch bảng " class="hint--right">
                                        <i class="info ion-ios-information"></i>
                                    </div>
                                </td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                            </tr>
                            <tr>
                                <td>
                                    Clone & Chia sẻ bot
                                    <div aria-label="Sao chép kịch bản từ các bot trong từ vài phút" class="hint--right">
                                        <i class="info ion-ios-information"></i>
                                    </div>
                                </td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                            </tr>
                            <tr>
                                <td>
                                    Trigger & A/B Testing
                                    <div aria-label="Cho phép thực hiện các hành động dựa trên các điieuf kiện khác nhau : ví dụ nhắn tin khi đến ngày sinh nhật" class="hint--right">
                                        <i class="info ion-ios-information"></i>
                                    </div>
                                </td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                            </tr>
                            <tr>
                                <td>
                                    Xóa menu ChatHub
                                    <div aria-label="Xóa nhãn hiệu ChatHub trên menu" class="hint--right">
                                        <i class="info ion-ios-information"></i>
                                    </div>
                                </td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                            </tr>
                            <tr>
                                <td>
                                    Đồng bộ Bot
                                    <div aria-label="Tạo kịch bản trong bot chính và đồng bộ đến các bot khác, chỉ cần thay đổi bot chính thì các bot phụ sẽ tự động thay đổi theo" class="hint--right">
                                        <i class="info ion-ios-information"></i>
                                    </div>
                                </td>
                                <td class="ion-ios-minus-empty"></td>
                                <td class="ion-ios-minus-empty"></td>
                                <td class="ion-ios-minus-empty"></td>
                                <td class="ion-checkmark"></td>
                            </tr>
                            <tr>
                                <td>
                                    Tạo kịch bản theo yêu cầu
                                </td>
                                <td class="ion-ios-minus-empty"></td>
                                <td class="ion-ios-minus-empty"></td>
                                <td class="ion-ios-minus-empty"></td>
                                <td class="ion-checkmark"></td>
                            </tr>
                            <tr>
                                <td>
                                    Hỗ trợ cao cấp 24/7
                                </td>
                                <td class="ion-ios-minus-empty"></td>
                                <td class="ion-ios-minus-empty"></td>
                                <td class="ion-ios-minus-empty"></td>
                                <td class="ion-checkmark"></td>
                            </tr>
                            <tr>
                                <td>
                                    Đào tạo chuyên sâu
                                </td>
                                <td class="ion-ios-minus-empty"></td>
                                <td class="ion-ios-minus-empty"></td>
                                <td class="ion-ios-minus-empty"></td>
                                <td class="ion-checkmark"></td>
                            </tr>
                            <tr>
                                <td>
                                    Tích hợp API, CRM, ERP
                                </td>
                                <td class="ion-ios-minus-empty"></td>
                                <td class="ion-ios-minus-empty"></td>
                                <td class="ion-ios-minus-empty"></td>
                                <td class="ion-checkmark"></td>
                            </tr>

                        </tbody>
                    </table>



                    <table class="pricing-table table-unlimit-vn">
                        <tbody>
                            <tr id="monthlypricedetails" style="display: table-row;">
                                <td style="min-width:180px;"></td>
                                <td style="vertical-align: top; min-width: 180px; width:180px;">
                                    <h5 class="bold">
                                        Lite
                                        <span style="font-size:30px;">∞</span>
                                    </h5>
                                    <h1>3,500,000</h1>
                                    <div>
                                        <a href="" target="_blank" class="btn btn-primary btn-flat btn-upgrade mb20 mt10">Nâng cấp</a>
                                    </div>
                                </td>
                                <td data-lable="KÈM QUÀ TẶNG" style="min-width: 230px; width:230px;">
                                    <h5 class="bold">
                                        Pro
                                        <span style="font-size:30px;">∞</span>
                                    </h5>
                                    <h1>7,000,000</h1>
                                    <div>
                                        <a href="" target="_blank" class="btn btn-primary btn-flat btn-upgrade mb20 mt10">Nâng cấp</a>
                                    </div>
                                </td>
                                <td style=" min-width: 200px; width:200px;">
                                    <h5 class="bold">
                                        Plus
                                        <span style="font-size:30px;">∞</span>
                                    </h5>
                                    <h1>12,000,000</h1>
                                    <div>
                                        <a href="" target="_blank" class="btn btn-primary btn-flat btn-upgrade mb20 mt10">Nâng cấp</a>
                                    </div>
                                </td>
                                <td style=" min-width: 200px; width:200px;">
                                    <h5 class="bold">
                                        Vip
                                        <span style="font-size:30px;">∞</span>
                                    </h5>
                                    <h1>21,000,000</h1>
                                    <div>
                                        <a href="" target="_blank" class="btn btn-primary btn-flat btn-upgrade mb20 mt10">Nâng cấp</a>
                                    </div>
                                </td>
                                <td class="more-item" style="min-width: 180px; width:180px;">
                                    <h5 class="bold">
                                        Biz
                                        <span style="font-size:30px;">∞</span>
                                    </h5>
                                    <h1>42,000,000</h1>
                                    <div>
                                        <a href="" target="_blank" class="btn btn-primary btn-flat btn-upgrade mb20 mt10">Nâng cấp</a>
                                    </div>
                                </td>
                                <td class="more-item" style="min-width: 180px; width:180px;">
                                    <h5 class="bold">
                                        Sky
                                        <span style="font-size:30px;">∞</span>
                                    </h5>
                                    <h1>120,000,000</h1>
                                    <div>
                                        <a href="" target="_blank" class="btn btn-primary btn-flat btn-upgrade mb20 mt10">Nâng cấp</a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="bold">
                                <td>
                                    <span>
                                        Facebook Pages
                                        <div aria-lable="Số page/bot có thểb tạo bằng một tài khoản " class="hint--right">
                                            <i class="info ion-ios-information"></i>
                                        </div>
                                    </span>
                                </td>
                                <td>Unlimited</td>
                                <td>Unlimited</td>
                                <td>Unlimited</td>
                                <td>Unlimited</td>
                            </tr>
                            <tr class="bold">
                                <td>
                                    <span>
                                        Quản trị Bot
                                        <div aria-lable="Mời các quản trị viên vào bot " class="hint--right">
                                            <i class="info ion-ios-information"></i>
                                        </div>
                                    </span>
                                </td>
                                <td>Unlimited</td>
                                <td>Unlimited</td>
                                <td>Unlimited</td>
                                <td>Unlimited</td>
                            </tr>
                            <tr class="bold">
                                <td>
                                    <span>
                                        Tin nhắn Bot
                                        <div aria-lable="Tin nhắn được gửi đi từ Broadcast, chăm sóc,Tăng trưởng mỗi tháng.Còn tin nhắn trả lời tự động thì không bị tính" class="hint--right">
                                            <i class="info ion-ios-information"></i>
                                        </div>
                                    </span>
                                </td>
                                <td>100,000</td>
                                <td>100,000</td>
                                <td>100,000</td>
                                <td>1,000,000</td>
                            </tr>
                            <tr class="bold">
                                <td>
                                    <span>
                                        Khách hàng
                                        <div aria-lable="Người dùng đã nhắn tin cho page hoặc bấm vào công cụ tăng trưởng" class="hint--right">
                                            <i class="info ion-ios-information"></i>
                                        </div>
                                    </span>
                                </td>
                                <td>Unlimited</td>
                                <td>Unlimited</td>
                                <td>Unlimited</td>
                                <td>Unlimited</td>
                            </tr>
                            <tr>
                                <td>
                                    Công cụ tăng trưởng
                                    <div aria-label="Tạo các công cụ tăng trưởng để thu hút khách hàng tiềm năng đăng ký Bot" class="hint--right">
                                        <i class="info ion-ios-information"></i>
                                    </div>
                                </td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                            </tr>
                            <tr>
                                <td>
                                    Phân loại khách hàng
                                    <div aria-label="Gắn thẻ và thuộc tính để phân loại khách hàng" class="hint--right">
                                        <i class="info ion-ios-information"></i>
                                    </div>
                                </td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                            </tr>
                            <tr>
                                <td>
                                    Gửi chăm sóc
                                    <div aria-label="Tự động gửi tin nhắn chăm sóc khách hàng theo thời gian cài đặt sẵn " class="hint--right">
                                        <i class="info ion-ios-information"></i>
                                    </div>
                                </td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                            </tr>
                            <tr>
                                <td>
                                    Copy Viral mẫu
                                    <div aria-label="Xây dựng bot nhanh chóng bằng cách copy mẫu có sẵn" class="hint--right">
                                        <i class="info ion-ios-information"></i>
                                    </div>
                                </td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                            </tr>
                            <tr>
                                <td>
                                    Kéo thả tạo kịch bản
                                    <div aria-label="Tạo kịch bản trả lời tự động bằng bản đồ mindmap kéo thả" class="hint--right">
                                        <i class="info ion-ios-information"></i>
                                    </div>
                                </td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                            </tr>
                            <tr>
                                <td>
                                    Thống kê & đo lường
                                    <div aria-label="Cho phép theo dõi và hoạt động tăng trưởng của khách hàng" class="hint--right">
                                        <i class="info ion-ios-information"></i>
                                    </div>
                                </td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                            </tr>
                            <tr>
                                <td>
                                    Trả lời tự động
                                    <div aria-label="Cài đặt từ khóa trả lời tự động cho khách hàng" class="hint--right">
                                        <i class="info ion-ios-information"></i>
                                    </div>
                                </td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                            </tr>
                            <tr>
                                <td>
                                    Live chat
                                    <div aria-label="Hỗ trợ livechat để nhân viên có thể tư vấn song song với bot" class="hint--right">
                                        <i class="info ion-ios-information"></i>
                                    </div>
                                </td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                            </tr>
                            <tr>
                                <td>
                                    Gửi Broadcast
                                    <div aria-label="Gửi tin nhắn marketing đến tất cả khách hàng cùng một lúc-tương tự như email" class="hint--right">
                                        <i class="info ion-ios-information"></i>
                                    </div>
                                </td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                            </tr>
                            <tr>
                                <td>
                                    Web form & Vip card
                                    <div aria-label="Tạo form đẹp để thu hút khách hàng điền thông tin,ví dụ nhận quà, đặt hàng" class="hint--right">
                                        <i class="info ion-ios-information"></i>
                                    </div>
                                </td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                            </tr>
                            <tr>
                                <td>
                                    Theo dõi tương tác
                                    <div aria-label="Theo dõi số lượng khách hàng tương tác với từng block trong kịch bảng " class="hint--right">
                                        <i class="info ion-ios-information"></i>
                                    </div>
                                </td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                            </tr>
                            <tr>
                                <td>
                                    Clone & Chia sẻ bot
                                    <div aria-label="Sao chép kịch bản từ các bot trong từ vài phút" class="hint--right">
                                        <i class="info ion-ios-information"></i>
                                    </div>
                                </td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                            </tr>
                            <tr>
                                <td>
                                    Trigger & A/B Testing
                                    <div aria-label="Cho phép thực hiện các hành động dựa trên các điieuf kiện khác nhau : ví dụ nhắn tin khi đến ngày sinh nhật" class="hint--right">
                                        <i class="info ion-ios-information"></i>
                                    </div>
                                </td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                            </tr>
                            <tr>
                                <td>
                                    Xóa menu ChatHub
                                    <div aria-label="Xóa nhãn hiệu ChatHub trên menu" class="hint--right">
                                        <i class="info ion-ios-information"></i>
                                    </div>
                                </td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                                <td class="ion-checkmark"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="section faq-contairner">
        <div class="section-callout">
            <div class="text-center">
                <h1>Bạn có câu hỏi</h1>
            </div>
            <div class="faq-q">
                <h3>
                    <i class="fa fa-caret-right"></i>
                    <span>1. Khi nào tôi nên nâng cấp Pro hàng tháng hoặc vĩnh viễn?</span>
                </h3>
                <p class="toggle-target">
                    Tùy thuộc vào nhu cầu kinh doanh của bạn để chọn gói cho phù hợp. Nếu bạn chỉ dùng Bot cho việc chạy quảng cáo thì nên mua gói hàng tháng . Còn bạn muốn dùng Bot 24/7 để chăm sóc khách hàng tự động thì nên mua gói vĩnh viễn đẻ tiết kiệm chi phí. Và bạn có thể yên tâm vì 2 gói này có thể chuyển đổi linh hoạt với nhau. Cụ thể, Nếu chuyển từ gói hàng tháng đến vĩnh viễn thì chỉ cần bù chi phí trên lệch, nếu chuyển từ gói vĩnh viễn về hàng tháng thì sẽ đc bù thời gian chênh lệch.
                </p>
            </div>
            <div class="faq-q">
                <h3>
                    <i class="fa fa-caret-right"></i>
                    <span>2. Giá cả khi nâng cấp lên Pro được tính như thế nào?</span>
                </h3>
                <p class="toggle-target">
                    Tùy thuộc vào nhu cầu kinh doanh của bạn để chọn gói cho phù hợp. Nếu bạn chỉ dùng Bot cho việc chạy quảng cáo thì nên mua gói hàng tháng . Còn bạn muốn dùng Bot 24/7 để chăm sóc khách hàng tự động thì nên mua gói vĩnh viễn đẻ tiết kiệm chi phí. Và bạn có thể yên tâm vì 2 gói này có thể chuyển đổi linh hoạt với nhau. Cụ thể, Nếu chuyển từ gói hàng tháng đến vĩnh viễn thì chỉ cần bù chi phí trên lệch, nếu chuyển từ gói vĩnh viễn về hàng tháng thì sẽ đc bù thời gian chênh lệch.
                </p>
            </div>
            <div class="faq-q">
                <h3>
                    <i class="fa fa-caret-right"></i>
                    <span>3. Vì sao nên dùng ChatHub mà không phải các nền tảng khác?</span>
                </h3>
                <p class="toggle-target">
                    Ở phiên bản Free chúng tôi không hạn chế tính năng, ở phiên bản Pro chúng tôi có giá cả rẻ nhất. Ngoài ra chúng tôi cung cấp sẵn các kịch bản viral rất mạnh mẽ để giúp bạn thu hút được khách hàng tiềm năng trong một thời gian ngắn.
                </p>
            </div>
            <div class="faq-q">
                <h3>
                    <i class="fa fa-caret-right"></i>
                    <span>4. Quét tất cả khách hàng từ khi lập page là gì?</span>
                </h3>
                <p class="toggle-target">
                    Nghĩa là kể cả khi bạn chưa từng dùng Bot hay đã từng dùng Bot của nhà cung cấp khác thì sau khi sử dụng ChatHub, chúng tôi sẽ chuyển tất cả khách hàng đã từng chat với page của bạn thành khách hàng trong ChatHub để giúp bạn gửi các chiến dịch Marketing Và tất nhiên việc xử lý này sẽ tốn vài tiếng đồng hồ nhưng là tự động và hoàn toàn miễn phí.
                </p>
            </div>
            <div class="faq-q">
                <h3>
                    <i class="fa fa-caret-right"></i>
                    <span>5. Cách thức thanh toán khi nâng cấp Pro?</span>
                </h3>
                <p class="toggle-target">
                    Chúng tôi chấp nhận hình thức thanh toán bằng Paypal tự động theo tháng hoặc năm thông qua đối tác Paddle để đảm bảo đúng pháp luật và an toàn(một số khu vực như Châu Âu thì người mua phải chịu thuế theo pháp luật hiện hành).
                </p>
            </div>
            <div class="faq-q">
                <h3>
                    <i class="fa fa-caret-right"></i>
                    <span>6. Điều gì xảy ra nếu tôi hủy Pro?</span>
                </h3>
                <p class="toggle-target">
                    Hãy yên tâm vì Bot của bạn vẫn sẽ trả lời tự động và thu nhập khách hàng như bình thường. Sau này bạn có thể nâng cấp lại Pro nếu thấy phù hợp với nhu cầu.
                </p>
            </div>
        </div>
    </div>
</section>
